@charset "utf-8";

.tui-ico-check, /*체크박스 아이콘*/
.tui-ico-checked, /*선택된 체크박스 아이콘*/
.tui-ico-tree {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  overflow: hidden;
}

.tui-ico-check{
  margin-right: 7px;
}

.tui-ico-check input {
  position: absolute;
  left: -9999px;
}

.tui-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tui-checkbox.tui-checkbox-root.tui-is-checked .tui-ico-check::after{ /* 하위 체크 아이콘*/
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 2px;
  border-radius: 2px;
  border: none;
  background-color: #fff;
  transform: rotate(0deg) translate(-50%, -50%);
}

.tui-checkbox.tui-is-checked .tui-ico-check::after{/*체크박스 아이콘*/
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 2.5px;
  width: 3px;
  height: 5px;
  border-radius: 2px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.tui-ico-tree { /* 화살표 아이콘 */
  display: inline-block;
  width: 5px;
  height: 8px;
  cursor: pointer;
}

.tui-ico-tree::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 0;
  height: 0;
}

.tui-tree-wrap { /* 트리 제일 상단*/
  display: inline-block;
  margin: 0;

}

.tui-tree-closed .tui-ico-tree::before,
.tui-tree-node .tui-tree-closed .tui-ico-tree::before{  /*트리 아이콘 닫힌 상태*/
  transform: rotate(-90deg) translateX(-1px);
}

.tui-tree-opened .tui-ico-tree::before,
.tui-tree-node .tui-tree-opened .tui-ico-tree::before{ /*트리 아이콘 열린 상태*/
  transform: rotate(0deg) translateY(4px);
}

.tui-tree-wrap .tui-tree,
.tui-tree-wrap .tui-tree-subtree { /*서브 트리*/
  margin: 0;
  padding-left: 0;
}


.tui-tree-wrap .tui-tree-toggle-btn { /* 트리 토글버튼 네임 옆 화살표*/
  margin-right: 4px;
  width: 13px;
  height: 12px;
  font-size: 0;
}

.tui-tree-text { /*글자 들어가는 영역*/
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  padding: 1px 0;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  zoom: 1;
}

.tui-tree-opened > .tui-tree-content-wrapper .tui-tree-text { /* 트리 펼쳤을 때 글자*/
  /* font-weight: 700; */
}

.tui-tree-content-wrapper { /* 트리 콘텐트*/
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tui-tree-content-wrapper:hover,
.tui-tree-hover > .tui-tree-content-wrapper { /*콘테트 호버 했을 때*/

}

/*서브 메뉴 간격*/
.tui-tree-subtree .tui-tree-content-wrapper {
  padding-left: 24px;
}
.tui-tree-subtree .tui-tree-subtree .tui-tree-content-wrapper {
  padding-left: 65px;
}


