/*날짜가 보이는 picker*/

.react-datepicker-popper{
    z-index: 1000 !important;
}


.react-datepicker__input-container{
    position: relative;
    /*z-index: 1;*/
}

.react-datepicker__aria-live{
    display: none;
}

.react-datepicker__input-container input:disabled{
    cursor: not-allowed;
}

.statDatePicker .react-datepicker__input-container:after{
    transform: translate( -32px,-50%);

}


.event_modal .react-datepicker__input-container:after{
    transform: translate( -32px,-50%);

}


.react-datepicker__input-container:after{
    width: 14px;
    height: 14px;
    display: inline-block;
    position: absolute;
    content: '';
    background: url("../images/dark/page/Management_Dashboard/icon/icon_eventHistory_calendar.svg") no-repeat;
    top: 50%;
    transform: translate( 126px,-50%);
}

.schedule .react-datepicker__input-container::after{
    transform: translate( -30px,-50%);

}


.react-datepicker__input-container  input {
    width: 156px !important;
    height: 36px !important;
    background-color: #12172E;
    border: 1px solid #3E4165;
    color: #707287;
    border-radius: 6px;
    caret-color: transparent;
    padding-left: 17.8px;
    font-size: 13px;
    font-weight: 300;
    position: relative;
}

.react-datepicker__input-container  input:hover {
    border: 1px solid #543FAF;
    background: #161A30;
    cursor:pointer;
}

.schedule .react-datepicker__input-container input{
    color : #fff;
}


/*input 이 active 됐을 때*/
.react-datepicker__input-container > input:focus-visible{
    border-color: #7A45FF;
    outline: unset;
    background-color: #19133B;
    color: #fff !important;
}


/*datepicker의 말풍선 모양의 삼각형 삭제*/
.react-datepicker__triangle{
    display: none;
}

/*input 과 datepicker 사이의 간격*/
.react-datepicker-popper[data-placement^=bottom]{
    padding-top: 3px !important;
    z-index:4;

}

/*datepicker 크기 조정*/
.react-datepicker{
    width: 200px;
    /*padding: 12px;*/
    background-color: #19133B !important;
    border: 1px solid #7A45FF !important;
    color: #fff;

}

/*datepicker 안의 달력 조정*/
.react-datepicker__month-container{
    padding: 12px;
    float: unset;
    width: 100%;
    height: 100%;
}

/*년도 월 주간 이름 까지의 공간*/
.react-datepicker__header{
    height: 54px;
    font-family: NotoSansCJKkrB;
    color: #fff !important;
    background-color: #19133B !important;
    border-bottom: none !important;
    padding: 0 !important;
    margin: 0;
    top: 0;

}

/*/달력중 숫자(body) 즉, header를 제외한 공간*/
.react-datepicker__month{
    width: 100%;
    margin: 0!important;
}



.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header{
    font-size: 15px !important;
    text-align: center;
    font-weight: 500 !important;
    line-height: 14px;
    color: #fff !important;

}

/*요일 칸*/
.react-datepicker__day-names{
    width: 200px;
    height: 24px !important;
    margin-top: 11px ;
    margin-left: 0;
    padding:0;
    margin-bottom: 0!important;
    display: flex;

}

/*요일*/
.react-datepicker__day-name{
    width: 27px !important;
    line-height: 19px !important;
    color: #f2f4fc !important;

    font-size: 12px !important;
    text-align: left !important;
    margin: 0 !important;
}

/*주*/

.react-datepicker__week{
    width: 100%;
    height: 26px !important;
    display: flex;
    margin-bottom: 3px;
    justify-content: space-between;
}


/*마지막 주*/
.react-datepicker__week:last-child{
    margin-bottom: 0px;
}



.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range{
    border-radius: 50% !important;
    width: 24px !important;
    height: 24px !important;
    margin-right:2px !important;
    background-color: rgba(122, 69, 255, 0.3) !important;
}

.react-datepicker__day--001,
.react-datepicker__day{
    width: 24px !important;
    height: 24px !important;
    margin: 0 !important;
    border-radius: 13px;
    line-height: 24px !important;
    color: #fff !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    text-align: center !important;

}

.react-datepicker__day:hover{
    background-color: rgba(242, 244, 252, 0.12) !important;
    color: #fff !important;
    border-radius: 13px !important;

}

.react-datepicker__day--today,
.react-datepicker__month-text--today,
.react-datepicker__quarter-text--today,
.react-datepicker__year-text--today {

    border: 1px solid #7a45ff !important;
    color: #7A45FF !important;

}

.react-datepicker__day--outside-month{
    visibility: hidden;
}



.react-datepicker__day--selected:nth-child(1) .react-datepicker__day--in-selecting-range,
.react-datepicker__day--selected,
.react-datepicker__day--selected:hover,
.react-datepicker__day--selected.react-datepicker__day--in-range,
.react-datepicker__day--selected.react-datepicker__day--in-range:hover,
.react-datepicker__day--selected.react-datepicker__day--in-selecting-range,
.react-datepicker__day--selected.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--selected.react-datepicker__day--in-selecting-range.react-datepicker__day--range-end,
.react-datepicker__day--selected.react-datepicker__day--in-selecting-range.react-datepicker__day--range-start,
.react-datepicker__day--selected.react-datepicker__day--in-selecting-range.react-datepicker__day--range-end:hover,
.react-datepicker__day--selected.react-datepicker__day--in-selecting-range.react-datepicker__day--range-start:hover,
.react-datepicker__day--range-end.react-datepicker__day--in-range.react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-end,
.react-datepicker__day--range-start.react-datepicker__day--in-range.react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-start,
.react-datepicker__day--range-end.react-datepicker__day--in-range:hover,
.react-datepicker__day--range-end.react-datepicker__day--in-range.react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-end:hover,
.react-datepicker__day--range-start.react-datepicker__day--in-range.react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-start:hover,
.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected,
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover {

    background-color: #7A45FF !important;
    border-radius: 13px !important;
    color: #FFFFFF !important;
}


.react-datepicker__navigation--previous{
    position: absolute;
    left: 12px;
    top: 10px;
}
.react-datepicker__navigation--next{
    position: absolute;
    right: 32px;
    top: 10px;
}

/*원래의 버튼 아이콘*/
.react-datepicker__navigation-icon{
    display: none;
}

.react-datepicker__navigation--previous::before,
.react-datepicker__navigation--next::before{
    content: '' !important;
    position: absolute !important;
    display: inline-block !important;
    width: 22px !important;
    height: 22px !important;
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center;
}

/*previous 버튼*/
.react-datepicker__navigation--previous::before {
    background-image: url("../images/dark/common/btn/btn_eventHistory_calendar_prev_normal.svg")!important;
}

.react-datepicker__navigation--previous:hover::before {
    background-image: url("../images/dark/common/btn/btn_eventHistory_calendar_prev_hover.svg")!important;
}

/*next 버튼*/
.react-datepicker__navigation--next::before {
    background-image: url("../images/dark/common/btn/btn_eventHistory_calendar_next_normal.svg")!important;
}

.react-datepicker__navigation--next:hover::before {
    background-image: url("../images/dark/common/btn/btn_eventHistory_calendar_next_hover.svg")!important;
}

/*선택 불가능한 날짜*/
.react-datepicker__day--disabled,
.react-datepicker__day--disabled:hover {
    opacity: 0.25 !important;
    background-color: #19133B !important;
    border-color: #19133B !important;
    cursor: not-allowed;
}



.react-datepicker__day--range-start .react-datepicker__day--in-range{
    background-color: #7A45FF !important;
    border-radius: 13px !important;
    color: #FFFFFF !important;
}