.leaflet-popup-close-button{
    display:none;
}

.leaflet-eventMarker-pane{
    z-index: 1200;
}

.leaflet-facMarker-pane{
    z-index: 1200;
}

.leaflet-facCctvMarker-pane{
    z-index: 1300;
}

.leaflet-facLines-pane{
    z-index: 1100;
}

.leaflet-facMarker-pane{
    z-index: 1200;
}

.leaflet-cctvMarker-pane{
    z-index: 1300;
}

.leaflet-facCctvPopup-pane{
    z-index: 1400;
}
.leaflet-eventCircle-pane{
    z-index: 1100;
}

.leaflet-eventLines-pane{
    z-index: 1400;
}

.leaflet-marker-icon.event-marker{
    z-index: 1500;
}

.leaflet-scCctvPopup-pane{
    z-index: 1200;
}

.leaflet-overlay-pane{
    z-index: 1200;
}